.navBar{
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-right: 2%;
}
.navItem {
    font-size: large;
    font-style: italic;
    line-height: 80px;
  height: 100%;
}

.navItem img{
    width: 80px;
    height: 100%;
}

 