.productDiv{
    display: flex;
    flex-wrap: wrap;
}
.SearchByTypeDiv{
    margin-left: 46%;
}
#typeSelectBox{
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
}
#typeSelectBox *{
    font-weight: bold;
}

#labelFortypeSelectBox{
    display: block;
    font-weight: bold;
}






